* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scrollbar-width: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a4ba3;
  color: white;

}
.main{
  padding: 1rem;
  padding-top: 0;
}
a.logoxdc{
  margin-top: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(15px);
  padding: 1rem;
  height: 5rem;
  overflow: visible;
  background-color: #0537937d;
  .sclname{
    width: 11rem;
  font-size: 1.2rem;
  }
}
.dropdown{
  display: none;
}
.nav2{
  display: none;
}
.logo {
  font-size: 1.5rem;
  
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
  gap: 1.3rem;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: all .3s linears;
  -webkit-transition: all .3s linears;
  -moz-transition: all .3s linears;
  -ms-transition: all .3s linears;
  -o-transition: all .3s linears;
}


nav ul li a::before {
  content: '';
  color: #d6d6d6;
  border: 2px none #d6d6d6;
  position: absolute;
  width:1px;
  margin-top: 2%;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
nav ul li a:hover{
  color: #00eaff;
}
nav ul li a:hover::before {
  margin-top: 2%;
  transform: scaleX(1);
  transform-origin: bottom left;
  content: '';
  color: #1ebecd;
  border: 1px solid #1ebecd;
  position: absolute;
  width: 3.3rem;
  align-items: center;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: calc(100vh - 60px);
}
.navigation {
  margin-top: 1rem;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-template-columns: 1rem 8fr;
  width: 97vw;

  h1 {
      font-family: Gemunu Libre, sans-serif;
      font-size: 2rem;
      color: #00f700;
      margin: 0;
      margin-bottom: 1rem;
      text-shadow: 0px 0px 43px #ffffffb3;
      width: 7rem;
      text-align: center;
  }
  .logoxdc{
      width: 15rem;
height: fit-content;
z-index: 100;
color: #fbfbfb;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 1rem;
font-size: 2rem;
margin-left: 1rem;
.sclname{
  width: 13rem;
}
  }
}
.motto {
  margin-left: 5rem;
  flex: .7;
}

.motto h1 {
  font-size: 3rem;
  line-height: 1.2;
}
.motto{
  h4{
      color: rgb(156, 160, 236)
  }
  button{
      margin-top: 1rem;
      width: 6rem;
      font-size: 1rem;
      color: #f8efef;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
    
      height: 2.3rem;
      background-color: #ff9326;
      border-radius: .3rem;
      -webkit-border-radius: .3rem;
      -moz-border-radius: .3rem;
      -ms-border-radius: .3rem;
      -o-border-radius: .3rem;
      border: none;
}
}

.student-image {
  flex: 1;
  z-index: -1;
  text-align: right;
}

.student-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#Facilities{







border-radius: 1rem;
-webkit-border-radius: 1rem;
-moz-border-radius: 1rem;
-ms-border-radius: 1rem;
-o-border-radius: 1rem;
flex-direction: column;
margin-top: 7rem;
display: flex;
justify-content: center;
width:100% ;min-height: auto;
max-height: fit-content;
background-color: #d6d6d647;
backdrop-filter: blur(5px);
align-items: center;
margin-bottom: 2rem;
padding-bottom: 2rem;

h1{
  text-align: center;
  padding: 3%;
  font-size: 2rem;
}
.cardfacs{
  display: grid;
  flex-direction: column;
 
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0fr));
  grid-template-rows: minmax(1rem, auto);
  justify-content: center;
  gap: 6%;
  min-height: auto;
  max-height: fit-content;    align-items: center;
  width: 95%;
  a{
    text-decoration: none;color: #fff;
  }
}
.facard{
  backdrop-filter: blur(15px);
  height: 22rem;gap: .5rem;
  display: flex;
  flex-direction: column;
justify-content: space-between;

align-items: center;
border-radius: 1rem;
-webkit-border-radius: 1rem;
-moz-border-radius: 1rem;
-ms-border-radius: 1rem;
-o-border-radius: 1rem;
  width: 15.5rem;
  background-color: #2f3540b1;
  .text{
    height:8rem ;
    background-color: #ff8000;
    width: 14rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}
  img{
    width: 15rem;
    height: 13rem;
    border-radius: 1rem;
    image-rendering: auto;
  place-items:unset;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  h3{
      margin-top: .8rem;
    text-align: center;
    margin-left: .3rem;
    font-size: 1.3rem;
    margin-bottom: .4rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  h4{
    text-align: justify;
  
    padding: .5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
}
}
.counterdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span{
    font-size:2rem;
  }
}
.counter-section {
  margin-top: 0vh;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #d6d6d647;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  .counter-item {
      text-align: center;

      .count {
          font-size: 3rem;
          font-weight: bold;
          color: #ffffff;
      }

      .label {
          font-size: 1.1rem;
          color: #c0c0c0;
      }
  }
}
















